nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 8%;
  background: #0f172a;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  z-index: 1000;

  box-sizing: border-box;
}


nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #ff6600;
}


nav h2 {

  font-size: 26px;

  color: #ff6600;

}


nav ul {

  display: flex;

  gap: 30px;

  list-style: none;

}


nav li {

  cursor: pointer;

  transition: 0.3s;

}

nav a.active {
  color: #ff6600;
}